header{
    background-color: #D9D9D9;
    padding-bottom: 30px;
    padding-top: 30px;
}

h1{
    font-size: 40px;
    text-align: center;
    background-color: #79B99A;
    padding: 1px;
    margin-left: 490px;
    margin-right: 490px;
    margin-top: 30px;
}

nav {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    
}

nav a{
    position: relative;
    font-size: 25px;
    text-decoration: none;
    color: black;
    border: solid 3px black;
    background-color: #697BD7;
    border-radius: 20px;
    padding: 10px;
}

nav a:hover{
    font-size: 30px;
    background-image: linear-gradient(to right, aquamarine,blueviolet);
}

main{
    background-color: #61B17C;
    padding: 50px;
}

.items{
    
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img{
    border: solid 10px #697BD7;
   
}

img:hover{
    width:320px ;
    height: 420px;
    border: 2px dotted black;
}

p{
   
    color:black ;
    font-size: 30px;
    display: inline;
}

p:hover{
    color: rgb(185, 91, 91);
    opacity: 0,8;
    font-family: cursive;
    font-size: 20px;
}

